* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #F2E9E4;
    color: #22223B;
  }
  

